build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
/config.json
src/test/data/sandbox/
preferences.json
.DS_Store
./screenshot*.png
/data/
/bin/
/COMPONENT/classes
src/main/resources/docs/
out/

*.stat
*.md
*.tbl
/COMPONENT/*.txt